<footer class="flex align-items__center justify-content__center">
    <div class="wrapper__width1400">

      <div class="footer__navGrid grid">

        <div class="footer__logoContainer">
          <img class="footer-logo" src="/image/media/dummyLogo.png">
        </div>
        
        <div class="footer__navlist">  
          <span class="footer__listHeading">Über die Studie:</span>
          <ul class="footer__lists">
            <li><a class="footer__navLink" href="#">Studienablauf</a></li>
            <li><a class="footer__navLink" href="#">Ziele der Studie</a></li>
            <li><a class="footer__navLink" href="#">Kontakt</a></li>
          </ul>
        </div>
        
        <div class="footer__contactList">
          <span class="footer__listHeading">Studienleitung:</span>
          <ul class="footer__lists">
            <li>01234 - 5678910</li>
            <li>Musterstraße 17</li>
            <li>36100 Musterberg</li>
            <li><a href="mailto:testmailbla">mustermann@musterinstitut.edu</a></li>
          </ul>
        </div>
        
        <div class="footer__ctaContainer">
          <a class="button button__normal button__primary">Jetzt registrieren!</a>
          <p class="label__small">Nach dem Klick auf diesen Button landen Sie im Alcedis Patient Center, wo Sie sich registrieren können.</p>
        </div>

      </div>
    </div>
  </footer>

  <footer class="spaceFourHint">
    <p>Brought to you with 💜 and 💡 by <a href="https://www.space-4.de/" target="_blank">Space Four</a></p>
  </footer>


  <!-- Dependencies -->
  <script src="/js/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <!-- Custom JS -->
  <script src="/js/headerShadow.js"></script>
  <script src="/js/navBar.js"></script>